/* #ifdef MP-QQ */
page {
	font-size: 28rpx;
}
text {
	font-size: 28rpx;
}
/* #endif */

.box-card {
	border-radius: 20rpx;
	overflow: hidden;
}

.radius-df {
	border-radius: 20rpx;
}

.border-dashed {
	border-style: dashed;
}
.border-top-dashed {
	border-top-style: dashed;
}
.border-bottom-dashed {
	border-bottom-style: dashed;
}
.border-xs {
	border-width: 2rpx;
}

.opacity-9 {
	opacity: 0.9;
}
.opacity-7 {
	opacity: 0.7;
}
.opacity-6 {
	opacity: 0.6;
}

.height-full {
	height: 100%;
}
.height-screen {
	height: 100vh;
}

.flex-1 {
	flex: 1;
}
.flex-shrink-0 {
	flex-shrink: 0;
}

.margin-top-auto {
	margin-top: auto;
}

.width-50 {
	width: 50%;
}

.line-height-1 {
	line-height: 1;
}

.overflow-ellipsis-2 {
	  display: -webkit-box;
	  display: -moz-box;
	  -webkit-box-orient: vertical;
	  -moz-box-orient: vertical;
	  -webkit-line-clamp: 2;
	  -moz-line-clamp: 2;
	  word-wrap: break-word;
	    overflow: hidden;
	text-overflow: ellipsis;
		
		
}